@page
@model AccesoModel
@{
    ViewData["Title"] = "Acceso al sistema";
}


<div>
    <h1>Acceso a la App</h1>
</div>


<div class="contenedor">

    <label>Nombre de Usuario</label>
    <input type="text" name="usuario"/>

    <label>Contraseña</label>
    <input type="password" name="password" />

</div>