@import "../css/_variables.scss";

* {
    border: 0;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background: $bodyBackground;
}

.mensajeError {
    color: $rojo;
    font-weight: $fontNegrita;
    visibility: hidden;
    width: 100%;
}

.displayNone {
    display: none;
}

.divTextboxConIcono {
    align-items: center;
    display: flex;
    position: relative;
}

.divTextboxConIcono .svgIcon {
    fill: $colorFacebook;
    height: 24px;
    margin-left: 10px;
    position: absolute;
    width: 24px;
    opacity: 0.5;
}

.divTextboxConIcono .textbox {
    border: $textboxBorder;
    border-radius: $borderRadius10;
    box-shadow: $textboxShadow;
    font-size: $textboxFontSize;
    outline: none;
    padding: 10px 10px 10px 40px;
    width: 100%;
}

.divTextboxConIcono .textbox::selection {
    background: $textboxSelectionBackground;
    color: $textboxSelectionColor;
}


.divTextboxConIcono .textbox:focus {
    border: $textboxBorderFocus;
    box-shadow: $textboxShadowFocus;
    transition: $efectoFocus;
}

.divTextboxConIcono .textbox::placeholder {
    color: $textboxPlaceHolder;
}

.buttonPrincipal {
    background: $buttonPrincipalBackground;
    border: $buttonPrincipalBorder;
    border-radius: $borderRadius10;
    color: $blanco;
    font-size: $buttonPrincipalFontSize;
    padding: 10px 0px;
}

.buttonPrincipal:hover {
    background: $buttonPrincipalBackgroundHover;
    border: $buttonPrincipalBorderHover;
    cursor: $cursorHand;
    transition: $efectoFocus;
}


.buttonNuevo {
    background: $buttonNuevoBackground;
    border: $buttonNuevoBorder;
    border-radius: $borderRadius10;
    color: $blanco;
    font-size: $buttonNuevoFontSize;
    padding: 10px 0px;
}

.buttonNuevo:hover {
    background: $buttonNuevoBackgroundHover;
    border: $buttonNuevoBorderHover;
    cursor: $cursorHand;
    transition: $efectoFocus;
}

table {
    border-spacing: 0px;
}