@import "../css/_variables.scss";

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}

body {
    background: $bodyFondo;
}

.mensajeError {
    color: $rojo;
    font-weight: $fontNegrita;
    visibility: hidden;
    width: 100%;
}


.divTextboxConIcono {
    align-items: center;
    display: flex;
    position: relative;
}

.divTextboxConIcono .svgIcon {
    fill: $colorFacebook;
    height: 24px;
    margin-left: 10px;
    position: absolute;
    width: 24px;
}

.divTextboxConIcono .textbox {
    border: $textboxBorder;
    border-radius: $borderRadius10;
    box-shadow: $textboxSombra;
    font-size: $textboxFontSize;
    outline: none;
    padding: 10px 10px 10px 40px;
    width: 100%;
}

.divTextboxConIcono .textbox::selection {
    background: $textboxSelectionFondo;
    color: $textboxSelectionColor;
}


.divTextboxConIcono .textbox:focus {
    box-shadow: $textboxSombraFocus;
    transition: $efectoHover;
}

.divTextboxConIcono .textbox::placeholder {
    color: $textboxPlaceHolder;
}

.buttonPrincipal {
    background: #2f56ff;
    color: $blanco;
    font-size: 20px;
    border: $contenidoBorder;
    border-radius: $borderRadius10;
    width: 100%;
    margin: 0 auto;
    /*align-content: center;*/
}

.buttonPrincipal:hover {
    background: #0619cd;
    cursor: pointer;
    transition: $efectoHover;
    /*opacity: 0.8;*/
}