/*https://uicolors.app/create*/
/*#0015ff*/
* {
  border: 0;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  background: #ebf1ff;
}

.mensajeError {
  color: #FF0000;
  font-weight: 600;
  visibility: hidden;
  width: 100%;
}

.displayNone {
  display: none;
}

.divTextboxConIcono {
  align-items: center;
  display: flex;
  position: relative;
}

.divTextboxConIcono .svgIcon {
  fill: #0866FF;
  height: 24px;
  margin-left: 10px;
  position: absolute;
  width: 24px;
  opacity: 0.5;
}

.divTextboxConIcono .textbox {
  border: 1px solid #808080;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #C0C0C0;
  font-size: 20px;
  outline: none;
  padding: 10px 10px 10px 40px;
  width: 100%;
}

.divTextboxConIcono .textbox::selection {
  background: #0866FF;
  color: #FFFFFF;
}

.divTextboxConIcono .textbox:focus {
  border: 1px solid #FFFFFF;
  box-shadow: 0px 0px 5px 1px #0866FF;
  transition: all 0.3s ease-in-out;
}

.divTextboxConIcono .textbox::placeholder {
  color: #C0C0C0;
}

.buttonPrincipal {
  background: #2F56FF;
  border: 1px solid #0619CD;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px 0px;
}

.buttonPrincipal:hover {
  background: #0619CD;
  border: 1px solid #2F56FF;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.buttonNuevo {
  background: #FB752A;
  border: 1px solid #EA440C;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px 0px;
}

.buttonNuevo:hover {
  background: #EA440C;
  border: 1px solid #FB752A;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

table {
  border-spacing: 0px;
}
