@import "../css/_variables.scss";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: $body;
}

.mensajeError {
    color: $rojo;
    font-weight: 600;
}

.divTextbox {
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 2px #E2E2E2;
    padding: 10px;
    height: 1.5rem;
    display: flex;
    align-items: center;
}

.divTextbox .textbo {
    .divTextbox {
        background: red;

    }
}

.divTextbox .textbox {
    font-size: 20px;
    /*padding: 5px 0;*/
    /*width: 100%;*/
    background: #FFFFFF;
    color: #000000;
    border: none;
    /*    font-size: 20px;
    padding: 5px 0;
    width: 100%;
    background: $blanco;
    color: #000000;
    border: 1px solid $bordeTextbox;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 2px #E2E2E2;
    transition: .3s ease;*/
    outline: none;
    width: 90%;
}
/*
.divTextbox .textbox:focus {
    border: yellow solid 3px;
}

.divTextbox .textbox:focus-within {
    border: yellow solid 3px;
}

.divTextbox .textbox:active {
    border: yellow solid 3px;
}
*/
/*.input::placeholder {
    color: $bordeTextboxPlaceHolder;
}*/



.input-field{
    height: 40px;
    width: 100%;
    background: #f0f4f5;
    border-radius: 4px;
    border: none;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    padding: 10px 38px 10px 48px;
    color: #b7b7b7;
    outline: none;
}

.css-input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.css-input:focus {
    outline: none;
}