/*https://uicolors.app/create*/
/*#0015ff*/
/**/
* {
  border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  background: #FFFFFF;
}

.displayNone {
  display: none;
}

.h1TituloPrincipal {
  text-align: center;
}

.mensajeError {
  color: #FF0000;
  font-weight: 600;
  visibility: hidden;
  width: 100%;
}

.divSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  background: #FFFFFF;
  box-shadow: 0 0 9px 1px #C0C0C0;
  border-radius: 10px;
  display: grid;
  grid-gap: 20px;
  margin: 30px auto 30px;
  padding: 60px;
  width: 500px;
}

.buttonAceptar {
  background: #2F56FF;
  border: 1px solid #0619CD;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px 0px;
}
.buttonAceptar:hover {
  background: #0619CD;
  border: 1px solid #2F56FF;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.buttonAceptar:active {
  transform: scale(0.9);
}

.buttonNuevo {
  background: #FB752A;
  border: 1px solid #EA440C;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  padding: 10px 0px;
}
.buttonNuevo:hover {
  background: #EA440C;
  border: 1px solid #FB752A;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.buttonNuevo:active {
  transform: scale(0.9);
}

table {
  border-spacing: 0px;
  /*padding: 20px;*/
}
table th {
  border-bottom: 1px solid #C0C0C0;
  text-align: left;
  padding-block: 20px;
}
table td {
  border-bottom: 1px solid #C0C0C0;
  padding-block: 5px;
}
table td > span {
  display: flex;
  flex-direction: column;
}

.divTextboxNormal {
  display: flex;
  flex-wrap: wrap;
}
.divTextboxNormal .textbox {
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  box-shadow: 0 0 9px 1px #C0C0C0;
  font-size: 20px;
  outline: none;
  padding: 10px;
  width: 100%;
}
.divTextboxNormal .textbox:focus {
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 9px 1px #0866FF;
  transition: all 0.2s ease-in-out;
}
.divTextboxNormal .textbox::selection {
  background: #0866FF;
  color: #FFFFFF;
}
.divTextboxNormal .textbox::placeholder {
  color: #C0C0C0;
}

.divTextboxConIconoIzq {
  align-items: center;
  display: flex;
  position: relative;
}
.divTextboxConIconoIzq .svgIcon {
  fill: #85B2FF;
  height: 24px;
  margin-left: 10px;
  position: absolute;
  width: 24px;
}
.divTextboxConIconoIzq .textbox {
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  box-shadow: 0 0 9px 1px #C0C0C0;
  font-size: 20px;
  outline: none;
  padding: 10px 10px 10px 40px;
  width: 100%;
}
.divTextboxConIconoIzq .textbox:focus {
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 9px 1px #0866FF;
  transition: all 0.2s ease-in-out;
}
.divTextboxConIconoIzq .textbox::selection {
  background: #0866FF;
  color: #FFFFFF;
}
.divTextboxConIconoIzq .textbox::placeholder {
  color: #C0C0C0;
}

.divTextboxConIconoDer {
  align-items: center;
  display: flex;
  position: relative;
}
.divTextboxConIconoDer .svgIcon {
  fill: #85B2FF;
  height: 24px;
  margin-left: 10px;
  position: absolute;
  width: 24px;
}
.divTextboxConIconoDer .textbox {
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  box-shadow: 0 0 9px 1px #C0C0C0;
  font-size: 20px;
  outline: none;
  padding: 10px 40px 10px 10px;
  width: 100%;
}
.divTextboxConIconoDer .textbox:focus {
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 9px 1px #0866FF;
  transition: all 0.2s ease-in-out;
}
.divTextboxConIconoDer .textbox::selection {
  background: #0866FF;
  color: #FFFFFF;
}
.divTextboxConIconoDer .textbox::placeholder {
  color: #C0C0C0;
}
.divTextboxConIconoDer svg {
  right: 10px;
}

.switchOn {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}
.switchOn input {
  width: 0;
  height: 0;
}
.switchOn input:checked + .slider {
  background-color: #5fdd54;
  border: 1px solid transparent;
}
.switchOn input:checked + .slider:before {
  transform: translateX(1.6em);
}
.switchOn .slider {
  font-size: 9px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: 0.4s;
  border-radius: 30px;
  border: 1px solid #ccc;
}
.switchOn .slider::before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 30px;
  left: 1.2px;
  top: 0.5px;
  bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: 0.4s;
}

.switchOff {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}
.switchOff input {
  width: 0;
  height: 0;
}
.switchOff input:checked + .slider {
  background-color: #5fdd54;
  border: 1px solid transparent;
}
.switchOff input:checked + .slider:before {
  transform: translateX(1.6em);
}
.switchOff .slider {
  font-size: 9px;
  position: absolute;
  cursor: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: 0.4s;
  border-radius: 30px;
  border: 1px solid #ccc;
}
.switchOff .slider::before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 30px;
  left: 1.2px;
  top: 0.5px;
  bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: 0.4s;
}

.modalNuevo {
  display: grid;
  grid-gap: 20px;
}
