/*https://uicolors.app/create*/
/*#0015ff*/

$blanco: #FFFFFF;
$rojo: #FF0000;
$colorFacebook: #0866FF;

$bodyBackground: #ebf1ff;
$contenedorBackground: blue;

$borderRadius10: 10px;
$efectoFocus: all 0.3s ease-in-out;
$fontNegrita: 600;
$gridGap20: 20px;
$viewport100: 100vh;
$cursorHand: pointer;

$contenidoBorder: #C0C0C0;

$textboxBorder: 1px solid #808080;
$textboxSelectionBackground: $colorFacebook;
$textboxSelectionColor: $blanco;
$textboxShadow: 0px 0px 5px 1px #C0C0C0;
$textboxShadowFocus: 0px 0px 5px 1px $colorFacebook;
$textboxPlaceHolder: #C0C0C0;
$textboxFontSize: 20px;

$buttonPrincipalBackground: #2F56FF;
$buttonPrincipalBackgroundHover: #0619CD;
$buttonPrincipalBorder: #C0C0C0;
$buttonPrincipalFontSize: 20px;