@import "./variables";
@import "./iniciales";

.contenedor {
  width: 99.5%;
  margin: 0px auto;
}

.contenedor .contenedorHeader {
  background: $contenedorHeader;
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-template-areas: "header imagen";
  margin-bottom: 0px;
}

.contenedor .contenedorContenido {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 28% 1fr;
  grid-template-areas: "contenidoIzquierda contenidoDerecha";
}

.contenedor .contenedorHeader header {
  grid-area: header;
  padding: 10px 0 0 20px;
}

.contenedor .contenedorHeader img {
  grid-area: imagen;
  width: 95px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px gray;
}

.contenedor .contenedorContenido .contenidoIzquierda {
  grid-area: contenidoIzquierda;
}

.contenedor .contenedorContenido .contenidoDerecha {
  grid-area: contenidoDerecha;
}

.contenedor .contenedorContenido .contenidoIzquierda section {
  margin-bottom: 10px;
}

.contenedor .contenedorContenido h4 {
  background: $etiquetas;
  margin: 7px 0;
  padding: 5px 5px;
}

.contenedor .contenedorContenido .contenidoIzquierda .elementosLi {
  font-weight: 600;
  list-style: disc;
  margin-left: 20px;
  line-height: 1.5;
}

.contenedor
  .contenedorContenido
  .contenidoIzquierda
  .habilidadesTecnicas
  > ul
  > li {
  margin-top: 5px;
}

.contenedor .contenedorContenido .contenidoDerecha section {
  max-width: 1000px;
}

.contenedor .contenedorContenido .contenidoDerecha ul,
.contenedor .contenedorContenido .contenidoDerecha li {
  display: inline;
}

.contenedor .contenedorContenido .contenidoDerecha ul > li {
  background: #e3e8ff;
  border-radius: 20px;
  padding: 1px 10px;
}

.contenedor .contenedorContenido .contenidoDerecha ul {
  line-height: 17px;
}
