/*https://uicolors.app/create*/
/*#0015ff*/
/*https://uicolors.app/create*/
/*#0015ff*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana;
}

body {
  background: #ebf1ff;
}

.mensajeError {
  color: #FF0000;
  font-weight: 600;
  visibility: hidden;
  width: 100%;
}

.divTextboxConIcono {
  align-items: center;
  display: flex;
  position: relative;
}

.divTextboxConIcono .svgIcon {
  fill: #0866ff;
  height: 24px;
  margin-left: 10px;
  position: absolute;
  width: 24px;
}

.divTextboxConIcono .textbox {
  border: 1px solid #808080;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #C0C0C0;
  font-size: 20px;
  outline: none;
  padding: 10px 10px 10px 40px;
  width: 100%;
}

.divTextboxConIcono .textbox::selection {
  background: #0866ff;
  color: #FFFFFF;
}

.divTextboxConIcono .textbox:focus {
  box-shadow: 0px 0px 5px 1px #0866ff;
  transition: all 0.3s ease-in-out;
}

.divTextboxConIcono .textbox::placeholder {
  color: #C0C0C0;
}

.buttonPrincipal {
  background: #2f56ff;
  color: #FFFFFF;
  font-size: 20px;
  border: #C0C0C0;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  /*align-content: center;*/
}

.buttonPrincipal:hover {
  background: #0619cd;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /*opacity: 0.8;*/
}

body {
  background: #ebf1ff;
  /*min-width: 500px;*/
}

#contenedor {
  background: #FFFFFF;
  display: grid;
  /*max-width: 100%;*/
  /*min-width: 400px;*/
  /*margin: 0 auto;*/
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "main" "footer";
  height: 100vh;
}

header {
  grid-area: header;
}

main {
  background: url(../Imagen/codigoFuente.jpg) no-repeat;
  background-size: cover;
  grid-area: main;
  height: 600px;
}

#contenido {
  background: #FFFFFF;
  box-shadow: 0px 0px 5px 2px #C0C0C0;
  border-radius: 10px;
  display: grid;
  grid-gap: 20px;
  height: 400px;
  margin: 40px auto;
  padding: 60px;
  width: 400px;
}

#contenedor h1 {
  text-align: center;
}

footer {
  grid-area: footer;
}
