* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 12px;
}

body {
  background: white;
  color: #000;
  font-family: "Roboto", sans-serif;
}

hr {
  width: 100%;
  margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
  font-size: 22px;
}

ul {
  padding-left: 1rem;
}

li {
  list-style-type: square;
}

.contenedor {
  display: grid;
  grid-gap: 10px;
  max-width: 1000px;
  margin: 0 auto;

  grid-template-areas:
    "header header header"
    "izquierda derecha derecha"
    "izquierda derecha derecha";

    grid-template-columns: 40%;

}

header {
  grid-area: header;
  background-color: white;
  color: rgb(109, 43, 75);
  font-size: 38px;
  font-weight: 800;
  margin: 0 auto;
  margin-block: 0px 30px;
  font-family: "Segoe UI";
}

.contenidoIzquierda {
  background-color: rgb(109, 43, 75);
  grid-area: izquierda;

  .contenidoIzquierdaInterno {
    padding-inline: 10px;

    .divImg {
      text-align: center;
      margin-top: -30px;
      margin-bottom: 10px;

      img {
        width: 160px;
        border-radius: 50%;
        border: 3px solid white;
      }
    }

    .divPerfil > p {
      font-size: 18px;
      text-align: justify;
    }

    .divContacto p {
      font-size: 14px;
    }

    p,
    h3,
    li {
      color: white;
    }

    h3 {
      margin-bottom: 2px;
    }

    span {
      display: flex;

      svg {
        margin-right: 5px;
      }
    }

    .divEducacion {
      li {
        margin-bottom: 5px;
      }
    }

    .divMisLogros {
      margin-bottom: 5px;
    }
  }
}

.contenidoDerecha {
  background-color: white;
  grid-area: derecha;

  hr {
    border-top: 2px solid rgb(109, 43, 75);
  }

  .contenidoDerechaInterno {
    padding-right: 10px;
  }

  .divPega {
    margin-block: 10px;

    h4 {
      font-size: 18px;

      p {
        font-size: 18px;
      }
    }
  }

  .subTituloPega {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block: 3px;

    p {
      font-size: 14px;
    }
  }
}
