@import "../Css/_variables.scss";
@import "../Css/_comunes.scss";

#contenedor {
    display: grid;
    margin: 0 auto;
    width: 90%;
    //max-width: 1000px;
    /*min-width: 700px;*/
    height: 100%;
    //background: $contenedorBackground;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer";
}