/*https://uicolors.app/create*/
/*#0015ff*/
/*https://uicolors.app/create*/
/*#0015ff*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana;
}

body {
  background: #ebf1ff;
}

.mensajeError {
  color: #FF0000;
  font-weight: 600;
  visibility: hidden;
  width: 100%;
}

.divTextboxConIcono {
  align-items: center;
  display: flex;
  position: relative;
}

.divTextboxConIcono .svgIcon {
  fill: #0866ff;
  height: 24px;
  margin-left: 10px;
  position: absolute;
  width: 24px;
}

.divTextboxConIcono .textbox {
  border: 1px solid #808080;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #C0C0C0;
  font-size: 20px;
  outline: none;
  padding: 10px 10px 10px 40px;
  width: 100%;
}

.divTextboxConIcono .textbox::selection {
  background: #0866ff;
  color: #FFFFFF;
}

.divTextboxConIcono .textbox:focus {
  box-shadow: 0px 0px 5px 1px #0866ff;
  transition: all 0.3s ease-in-out;
}

.divTextboxConIcono .textbox::placeholder {
  color: #C0C0C0;
}

.buttonPrincipal {
  background: #2f56ff;
  color: #FFFFFF;
  font-size: 20px;
  border: #C0C0C0;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  /*align-content: center;*/
}

.buttonPrincipal:hover {
  background: #0619cd;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /*opacity: 0.8;*/
}

#contenedor {
  display: grid;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  /*min-width: 700px;*/
  height: 100%;
  background: blue;
}
