@import "../Css/_variables.scss";
@import "../Css/_comunes.scss";

.contenedor {
    display: grid;
    margin: 0 auto;
    width: 90%;
    //max-width: 1000px;
    /*min-width: 700px;*/
    //background: $contenedorBackground;
    /*grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);*/
    grid-template-areas: "header" "main" "footer";
    /*background-color: burlywood;*/
    height: 100%; //$viewport100;
}

header {
    grid-area: header;
    display: flex;
    justify-content:space-between;
}

/*main {
    grid-area: main;
    background: $withe;
    box-shadow: 0px 0px 5px 2px $divContenidoBorder;
    border-radius: 10px;
    display: grid;
    grid-gap: $gridGap20;*/
    /*height: 50vh;*/
    /*margin: 40px auto;
    padding: 60px;
    width: 500px;
    min-width: 400px;*/
    /*background-color: rosybrown;*/
/*}*/

footer {
    grid-area: footer;
}